/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-text: #000;;
  --color-background: #ffffff;
  --color-border: rgba(60, 60, 60, 0.12);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #fff;
    --color-background: #181818;
    --color-border: rgba(84, 84, 84, 0.48);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(@/assets/images/noise.png);
    position: absolute;
    z-index: 0;
    opacity: .1;
    pointer-events: none;
    touch-action: none;
    top: 0;
    left: 0;
  }
}
